In [40]:
import pandas as pd

In [41]:
years_analyzed = list(range(2020, 2023))

In [42]:
def data_import(csv_file_path : str):
    return pd.read_csv(csv_file_path, sep=",")

In [43]:
data_ibovespa = {}

for year in years_analyzed:
    data_ibovespa[year] = data_import(f'../data/Dados Históricos - Ibovespa {year}.csv')

In [44]:
grouped_data_ibovespa = pd.concat(data_ibovespa, ignore_index=True)

grouped_data_ibovespa.head()

         Data   Último Abertura   Máxima   Mínima   Vol.    Var%
0  12/30/2020  119,017  119,410  120,150  118,919  8.24M  -0.33%
1  12/29/2020  119,409  119,130  119,861  118,750  6.77M   0.24%
2  12/28/2020  119,124  117,806  119,213  117,805  7.17M   1.12%
3  12/23/2020  117,807  116,636  118,311  116,636  6.48M   1.00%
4  12/22/2020  116,636  115,825  116,903  115,648  6.95M   0.70%

In [45]:
grouped_data_ibovespa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      746 non-null    object
 1   Último    746 non-null    object
 2   Abertura  746 non-null    object
 3   Máxima    746 non-null    object
 4   Mínima    746 non-null    object
 5   Vol.      746 non-null    object
 6   Var%      746 non-null    object
dtypes: object(7)
memory usage: 40.9+ KB

In [46]:
grouped_data_ibovespa['Data'] = pd.to_datetime(grouped_data_ibovespa['Data'], format='%m/%d/%Y')

cols_to_convert_float = ['Último', 'Abertura', 'Máxima', 'Mínima']

for col in cols_to_convert_float:
    grouped_data_ibovespa[col] = grouped_data_ibovespa[col].str.replace(',', '').astype(float)

grouped_data_ibovespa['Var%'] = grouped_data_ibovespa['Var%'].str.replace('%', '').astype(float)

In [47]:
grouped_data_ibovespa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      746 non-null    datetime64[ns]
 1   Último    746 non-null    float64
 2   Abertura  746 non-null    float64
 3   Máxima    746 non-null    float64
 4   Mínima    746 non-null    float64
 5   Vol.      746 non-null    object
 6   Var%      746 non-null    float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 40.9+ KB

In [48]:
all_in_millions = grouped_data_ibovespa['Vol.'].str.contains('M').all()

print(f"Todos os volumes estão em milhões? {'Sim' if all_in_millions else 'Não'}")

Todos os volumes estão em milhões? Sim

In [49]:
grouped_data_ibovespa['Vol.'] = grouped_data_ibovespa['Vol.'].str.replace('M', '').astype(float) * 1e6

In [50]:
grouped_data_ibovespa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      746 non-null    datetime64[ns]
 1   Último    746 non-null    float64
 2   Abertura  746 non-null    float64
 3   Máxima    746 non-null    float64
 4   Mínima    746 non-null    float64
 5   Vol.      746 non-null    float64
 6   Var%      746 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 40.9 KB

In [51]:
grouped_data_ibovespa.head()

        Data    Último  Abertura    Máxima    Mínima       Vol.  Var%
0 2020-12-30  119017.0  119410.0  120150.0  118919.0  8240000.0 -0.33
1 2020-12-29  119409.0  119130.0  119861.0  118750.0  6770000.0  0.24
2 2020-12-28  119124.0  117806.0  119213.0  117805.0  7170000.0  1.12
3 2020-12-23  117807.0  116636.0  118311.0  116636.0  6480000.0  1.00
4 2020-12-22  116636.0  115825.0  116903.0  115648.0  6950000.0  0.70

Resultado: Feito, analisando o valor atual da ação que é de 124.307,83 na data de hoje (27/06/2024 23:33), as inforçãos estão no formato correto e com valores que aparecentemente estão certo na grandesa correta.